#map{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#353535
}

#info_bar{
    margin-top: 55px;
    height: calc(100% - 55px);
    width: 25%; 
    min-width: 330px; 
    position: absolute; 
    left: 0; 
    bottom: 0; 
    background: rgba(250, 250, 250, 0.8);
    padding: 15px; 
    z-index: 100;
    border-radius: 0 8px 8px 0;
    display: none;
}


#info_bar_paper{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1.5px silver;
    overflow: scroll;
    background-color: rgba(255, 255, 255, 0.8);
}

#info_bar_close_btn{
    z-index: 201;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 2px;
}

#info_bar_title{
    cursor: default;
    position: relative;
    height: 35px;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: x-large;
    border-bottom: solid silver 2px;
}

#info_bar_desc{
    cursor: default;
    position: relative;
    padding: 8px;
    margin: 0;
    width: calc(100% - 16px);
    bottom: 0;
    font-size: medium;
    white-space: pre-line;
    overflow:auto;
}

#info_bar_photos{
    position: relative;
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.info_bar_photo{
    cursor: pointer;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    margin: 5px;
    height: 150px;
    width: 150px;
    object-fit: scale-down;
}

#outerdiv{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
    z-index:200;
    width:100%;
    height:100%;
    display:none;
}

#innerdiv{
    position:absolute;
}

#bigimg{
    border:5px solid #fff;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-corner{
    border-radius: 8px;
}
::-webkit-scrollbar-button{
    border-radius: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(240,240,240,0.95);
}